::ng-deep {
    .snowflakes-wrapper {
        pointer-events: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
    }

    .snowflake-container {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        left: 0;
    }

    .snowflake {
        position: absolute;
        top: -10px;
        background: white;
        border-radius: 50%;
        animation: fall linear forwards;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    }

    @keyframes fall {
        to {
            transform: translateY(105vh);
        }
    }
}
