.card {
    background: var(--surface-card);
    border: 1px solid var(--surface-border);
    padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    @media (min-width: 768px) {
        padding: 2rem;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.field-checkbox > label {
    line-height: unset;
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

.p-tooltip-text {
    font-size: 0.9rem;
}

.field.grid > label {
    @media (min-width: 768px) {
        align-items: baseline;
        flex-direction: column;
        justify-content: center;
    }
}

.sensitive-data-hidden {
    [sensitive-data] {
        color: transparent;
        pointer-events: none;
        position: relative;
        display: inline-block;
        white-space: nowrap;        

        &.p-inputtext {
            -webkit-text-security: disc;
            color: var(--text-color); 
        }

        &::before {
            content: '••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••';
            color: var(--text-color); 
            position: absolute;
            left: 0;
            width: 100%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
