.card {
    background: var(--p-card-background);
    border: 1px solid var(--card-border);
    padding: 1.5rem;
    margin-bottom: 1rem;
    box-shadow: var(--card-shadow);
    border-radius: $borderRadius;

    &.chart {
        padding: 10px;
    }

    @media (min-width: 768px) {
        padding: 2rem;
        &.chart {
            padding: 10px;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.field-checkbox > label {
    line-height: unset;
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}

.p-tooltip-text {
    font-size: 0.9rem;
}

.sensitive-data-hidden {
    [sensitive-data] {
        color: transparent;
        pointer-events: none;
        position: relative;
        display: inline-block;
        white-space: nowrap;        

        &.p-inputtext {
            -webkit-text-security: disc;
            color: var(--text-color); 
        }

        &::before {
            content: '••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••';
            color: var(--text-color); 
            position: absolute;
            left: 0;
            width: 100%;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

.line-break-anywhere {
    line-break: anywhere;
}

.text-monospace {
    line-break: anywhere;
    font-family: monospace;
    font-size: medium;
}

