.card {
    min-height: 100%;
}

.col-fixed-width {
    min-width: 80px;
}
.break-all {
    word-break: break-all;
}

.heatmap {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    table-layout: fixed;

    th {
        padding: 0;
    }

    td {
        transition: background-color 2s ease-in-out;
    }
}
