.card {
    min-height: 100%;
}

.col-fixed-width {
    min-width: 80px;
}
.break-all {
    word-break: break-all;
}

.heatmap {
    width: 100%;
    border-collapse: separate;
    border-spacing: 1px;
    table-layout: fixes;

    th {
        padding: 0;
    }

    &[style*="background"] {
        transition: background 250ms;
    }
}
